/* header section */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

.title-text h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

.custom-btn {
    background-color: #00ff84 !important;
    border-color: transparent !important;
    color: #002333;
    background: transparent;
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.custom-btn:hover {
    opacity: 95%;
    transition: 0.5s;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h1 {
    font-weight: 900;
}

/* Course section */
.course-section{
    margin-bottom: 50px;
}


/* parallax section */
.parallax {
    /* Set a specific height */
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
  }

.parallax .title-text {
    color: white;
}

.parallax h2 {
    font-weight: bold;
    margin-bottom: 3px;
}

.parallax-btn {
    font-weight: bold;
}

.parallax-btn:hover {
    background-color: #00ff84 !important;
    color: white !important;
    border-color: #00ff84 !important;
    transition: 0.5s;
}

/* Course category section */
#product-category {
    margin: 30px;
}

.category-title {
    margin: 30px;
}

.custom-card {
    height: 23rem;
    width: 18rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00ff84;
}
  
.custom-card:hover .overlay {
    opacity: 95%;
}
  
.card-title {
    color:white !important;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.custom-card a {
    color: inherit;
    text-decoration: none;
}