{% extends 'main/base.html' %}
{% load static %}

{% block title %}
   Reset Password Complete | BelajarOnline
{% endblock title %}

{% block content %}
    <div class="login-section">
        <div class="container-fluid">
            <div class="login-title text-center">
                <div class="alert alert-success" role="alert">
                    You have successfully reset and change your password!
                </div>
                <div class="login-title text-center">
                    <a class="ml-2" href="{% url 'login' %}">Login Page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}