{% extends 'main/base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}"/>
{% endblock customcss %}

{% block title %}
   Reset Your Password
{% endblock title %}

{% block content %}
    <div class="login-section">
        <div class="container-fluid">
            <div class="login-title text-center">
                <div class="alert alert-success" role="alert">
                    An email has been sent with instructions to reset your password
                </div>
            </div>
        </div>
    </div>
{% endblock %}