<footer>
    <div class="container-fluid">
        <div class="row footer-menu-list">
            <div class="col-md-3 text-start">
              	<h4>IT Development</h4>
              	<ul>
                	<li><a href="{% url 'courses-page' %}">Web Development</a></li>
                	<li><a href="{% url 'courses-page' %}">System Design</a></li>
                	<li><a href="{% url 'courses-page' %}">Machine Learning</a></li>
                	<li><a href="{% url 'courses-page' %}">Game Development</a></li>
              	</ul>
            </div>
			<div class="col-md-3 text-start">
              	<h4>Business</h4>
              	<ul>
                	<li><a href="{% url 'courses-page' %}">Macroeconomics</a></li>
                	<li><a href="{% url 'courses-page' %}">Tax Auditing</a></li>
                	<li><a href="{% url 'courses-page' %}">Business Law</a></li>
                	<li><a href="{% url 'courses-page' %}">International Business</a></li>
              	</ul>
            </div>
			<div class="col-md-3 text-start">
              	<h4>Self Improvement</h4>
              	<ul>
                	<li><a href="{% url 'courses-page' %}">Motivation</a></li>
                	<li><a href="{% url 'courses-page' %}">Yoga</a></li>
                	<li><a href="{% url 'courses-page' %}">Copywriting</a></li>
                	<li><a href="{% url 'courses-page' %}">Public Speaking</a></li>
              	</ul>
            </div>
            <div class="col-md-3 text-start">
              	<h4>Connect with us</h4>
              	<ul>
                	<a class="footer-logo" href="#"><i class="fa fa-instagram fa-2x"></i></a>
                	<a class="footer-logo" href="#"><i class="fa fa-facebook fa-2x"></i></a>
                	<a class="footer-logo" href="#"><i class="fa fa-whatsapp fa-2x"></i></a>
                	<a class="footer-logo" href="#"><i class="fa fa-twitter fa-2x"></i></a>
                	<a class="footer-logo" href="#"><i class="fa fa-youtube fa-2x"></i></a>
              	</ul>
            </div>
        </div>
        <div class="row row-copyright">
            <div class="col text-center col-copyright">
              	<i class="fa fa-copyright"></i> Copyright 2020. BelajarOnline <i class="fa fa-registered"></i> - Official Site
            </div>
        </div>
</footer>