{% extends 'main/base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/style-home.css' %}"/>
{% endblock customcss %}

{% block title %}
    Home - BelajarOnline
{% endblock title %}

{% block content %}
    <header class="masthead" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'picture/home/Masthead.jpg' %}');">
        <div class="container h-100 title-text">
            <div class="row h-100 align-items-center">
                <div class="col text-center">
                    <h1>Expand Your Knowledge</h1>
                    <p>Be part of BelajarOnline now and explore tons of courses</p>
                    <a class="btn btn-success custom-btn" href="{% url 'register' %}">Get Started</a>
                </div>
            </div>
        </div>
    </header>

    <section id="product-category">
        <div class="container-fluid">
            <div class="category-title text-center">
                <h3 class="font-weight-bold">Top Categories</h3>
            </div>
            <div class="row mx-auto my-auto justify-content-center align-items-center">
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/WebDevelopment.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">Web Development</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/Marketing.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">Marketing</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/ITnSoftware.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">IT & Software</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/PersonalDevelopment.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">Personal Development</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/Business.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">Business</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/Photography.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">Photography</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/Music.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">Music</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card custom-card custom-card-category" style="background-image:url('{% static 'picture/home/Design.jpg' %}')">
                        <div class="overlay">
                            <a class="card-title text-center font-weight-bold" href="#">Design</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax" style="background-image: url('{% static 'picture/home/forest.jpg' %}');">
        <div class="container title-text">
            <div class="row align-items-center">
                <div class="col text-center">
                    <h2>Get personal learning recommendation</h2>
                    <p>Answer a few questions for our top picks</p>
                    <a class="btn btn-outline-light parallax-btn" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block customjs %}
    <script src="{% static 'js/style-home.js' %}"></script>
{% endblock customjs %}