<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <a class="navbar-brand" href="{% url 'main-home' %}">BelajarOnline</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="What lesson you want?">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="searchBtn"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Course Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Web Development</a>
                    <a class="dropdown-item" href="#">Marketing</a>
                    <a class="dropdown-item" href="#">IT & Software</a>
                    <a class="dropdown-item" href="#">Personal Development</a>
                    <a class="dropdown-item" href="#">Business</a>
                    <a class="dropdown-item" href="#">Photography</a>
                    <a class="dropdown-item" href="#">Music</a>
                    <a class="dropdown-item" href="#">Design</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#">Browse More</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ user.profile.image.url }}" width="40" height="40" class="rounded-circle">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    <h6 class="dropdown-header">Settings</h6>
                    <a class="dropdown-item" href="#">My Courses</a>
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                </div>
            </div>
        {% else %}
            <a class="btn btn-success login-btn" href="{% url 'login' %}">Sign In</a>
        {% endif %}
    </div>
</nav>